In [1]:
import os
os.getcwd()

'C:\\Users\\Administrator'

In [2]:
import pandas as pd
df = pd.read_csv("C:\\Users\\Administrator\\Downloads\\nyc_weather.csv")
df.head(10)
df.tail(30)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [3]:
df.Events

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
5          NaN
6          NaN
7          NaN
8         Rain
9         Rain
10         NaN
11         NaN
12         NaN
13         NaN
14         NaN
15        Rain
16    Fog-Snow
17        Snow
18         NaN
19         NaN
20         NaN
21        Snow
22    Fog-Snow
23        Snow
24         NaN
25         NaN
26        Rain
27         NaN
28         NaN
29         NaN
30         NaN
Name: Events, dtype: object

In [4]:
df.Humidity

0     52
1     46
2     47
3     44
4     41
5     35
6     33
7     64
8     77
9     71
10    37
11    53
12    42
13    47
14    62
15    70
16    66
17    53
18    42
19    49
20    45
21    41
22    78
23    53
24    54
25    56
26    45
27    51
28    50
29    46
30    52
Name: Humidity, dtype: int64

In [5]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [6]:
df.count()

EST                     31
Temperature             31
DewPoint                31
Humidity                31
Sea Level PressureIn    31
VisibilityMiles         31
WindSpeedMPH            28
PrecipitationIn         31
CloudCover              31
Events                   9
WindDirDegrees          31
dtype: int64

In [7]:
df.Temperature.count

<bound method Series.count of 0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64>

In [8]:
df.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [9]:
df.dtypes

EST                      object
Temperature               int64
DewPoint                  int64
Humidity                  int64
Sea Level PressureIn    float64
VisibilityMiles           int64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover                int64
Events                   object
WindDirDegrees            int64
dtype: object

In [10]:
df.Events.unique()

array([nan, 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

In [11]:
df.Events.describe()

count        9
unique       3
top       Rain
freq         4
Name: Events, dtype: object

In [12]:
df['Temperature'].max()

np.int64(50)

In [13]:
df['Temperature'].min()

np.int64(20)

In [15]:
df1 = df['Temperature'] > 30
df1

0      True
1      True
2      True
3     False
4     False
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12    False
13    False
14     True
15     True
16     True
17    False
18    False
19     True
20     True
21    False
22    False
23    False
24     True
25     True
26     True
27     True
28     True
29     True
30     True
Name: Temperature, dtype: bool

In [16]:
df1.sum()

np.int64(22)

In [19]:
df['EST'][df['Events'] == 'Rain']

8      1/9/2016
9     1/10/2016
15    1/16/2016
26    1/27/2016
Name: EST, dtype: object

In [20]:
df['EST'][df['Humidity'] == 70]

15    1/16/2016
Name: EST, dtype: object

In [22]:
df['EST'][df['WindSpeedMPH'] == 7.0]

1      1/2/2016
15    1/16/2016
25    1/26/2016
26    1/27/2016
29    1/30/2016
Name: EST, dtype: object

In [23]:
df.Events.isna()

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8     False
9     False
10     True
11     True
12     True
13     True
14     True
15    False
16    False
17    False
18     True
19     True
20     True
21    False
22    False
23    False
24     True
25     True
26    False
27     True
28     True
29     True
30     True
Name: Events, dtype: bool

#DATA STRUCTURES USING PANDAS

In [24]:
lst = [10,20,30,40,50]
s = pd.Series(lst)
print(s,type(s))

0    10
1    20
2    30
3    40
4    50
dtype: int64 <class 'pandas.core.series.Series'>

In [25]:
l1 = [1,2,3]
ser = pd.Series(l1,index=["1st",2,"3rd"])
print(ser)

1st    1
2      2
3rd    3
dtype: int64

In [26]:
ser = pd.Series(l1,index=["1st",2,"3rd"],name = "c1")
print(ser)

1st    1
2      2
3rd    3
Name: c1, dtype: int64

In [28]:
s = pd.Series([10,20,30,40,50])
print(s,type(s))

0    10
1    20
2    30
3    40
4    50
dtype: int64 <class 'pandas.core.series.Series'>

In [29]:
print(s.loc[0:4])

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [30]:
s = pd.Series(l1,dtype="float32")
print(s,type(s))

0    1.0
1    2.0
2    3.0
dtype: float32 <class 'pandas.core.series.Series'>

In [32]:
s[2]

np.float32(3.0)

In [49]:
s.shape

(3,)

In [35]:
data = [10,"God of Small things",80.00,"Arunthathi Roy"]
book = pd.Series(data,index=["bid","Book name","Price","Author"])
print(book,type(book))

bid                           10
Book name    God of Small things
Price                       80.0
Author            Arunthathi Roy
dtype: object <class 'pandas.core.series.Series'>

In [36]:
book["bid"]

10

In [37]:
dict1={"s1":"C","s2":"Python","s3":"Java"}
print(dict1,type(dict1))

{'s1': 'C', 's2': 'Python', 's3': 'Java'} <class 'dict'>

In [38]:
s1 = pd.Series(dict1)
print(s1)

s1         C
s2    Python
s3      Java
dtype: object

In [39]:
print(type(s1))

<class 'pandas.core.series.Series'>

In [40]:
lst = [[1,0,1,3],[2,3,4,5],[0,9,8,7]]
df = pd.Series(lst)
print(df)

0    [1, 0, 1, 3]
1    [2, 3, 4, 5]
2    [0, 9, 8, 7]
dtype: object

In [41]:
student = [[100,"Helen"],[101,"Sahil"],[102,"Greta"]]
df = pd.DataFrame(student)
print(df)

     0      1
0  100  Helen
1  101  Sahil
2  102  Greta

In [44]:
df.iloc[1:,:]

     0      1
1  101  Sahil
2  102  Greta

In [46]:
df.iloc[2,1]

'Greta'

In [47]:
df = pd.DataFrame(student,columns=["student_id","Name"],index=["S100","S102","S103"])
print(df)

      student_id   Name
S100         100  Helen
S102         101  Sahil
S103         102  Greta

In [56]:
student_tuple = (("Grace",12),("Irene",11),("Jacob",10))
df2 = pd.DataFrame(student_tuple, index=[1,2,3],columns=["Name","Age"])
print(df2)

    Name  Age
1  Grace   12
2  Irene   11
3  Jacob   10

In [93]:
df2["Subject"]=['Maths','Science','English']
print(df2)

    Name  Age  Subject
1  Grace   12    Maths
2  Irene   11  Science
3  Jacob   10  English

In [94]:
df2.drop('Subject',axis=1,inplace=True)
print(df2)

    Name  Age
1  Grace   12
2  Irene   11
3  Jacob   10

In [61]:
dict_data = {"Book_name":["Atomic Habits","The Art of Laziness","Harry Potter"],"Price":[200,300,400]}
print(dict_data)

{'Book_name': ['Atomic Habits', 'The Art of Laziness', 'Harry Potter'], 'Price': [200, 300, 400]}

In [62]:
df3=pd.DataFrame(dict_data)
print(df3)

             Book_name  Price
0        Atomic Habits    200
1  The Art of Laziness    300
2         Harry Potter    400

In [63]:
df3.shape

(3, 2)

In [64]:
df3=pd.DataFrame(dict_data,index=['a','b','c'])
print(df3)

             Book_name  Price
a        Atomic Habits    200
b  The Art of Laziness    300
c         Harry Potter    400

In [65]:
subjects = ["English","Maths","Computer Science"]
sub = pd.Series(subjects)
print(sub)

0             English
1               Maths
2    Computer Science
dtype: object

In [67]:
df4=pd.DataFrame(subjects,columns=["name"])
print(df4)

               name
0           English
1             Maths
2  Computer Science

In [68]:
df4.shape

(3, 1)

In [73]:
df3=pd.DataFrame(dict_data)
print(df3)

             Book_name  Price
0        Atomic Habits    200
1  The Art of Laziness    300
2         Harry Potter    400

In [74]:
df3['GST']=[2,4,5]
print(df3)

             Book_name  Price  GST
0        Atomic Habits    200    2
1  The Art of Laziness    300    4
2         Harry Potter    400    5

In [75]:
df3['Total Price']=df3["Price"]+df3["GST"]
print(df3)

             Book_name  Price  GST  Total Price
0        Atomic Habits    200    2          202
1  The Art of Laziness    300    4          304
2         Harry Potter    400    5          405

In [99]:
df3['Book_id']=range(1,4)

In [100]:
print(df3)

             Book_name  Price  GST  Total Price  Book_id
0        Atomic Habits    200    2          202        1
1  The Art of Laziness    300    4          304        2
2         Harry Potter    400    5          405        3

In [82]:
#sorting
df = df.sort_values(["Name"],ascending = True)

In [83]:
print(df)

      student_id   Name
S103         102  Greta
S100         100  Helen
S102         101  Sahil

In [86]:
df = df.sort_values(["student_id"],ascending = False) # descending

In [87]:
print(df)

      student_id   Name
S103         102  Greta
S102         101  Sahil
S100         100  Helen

IPL_MATCHES 2008-2020

In [88]:
import pandas as pd

ipl=pd.read_csv("C:\\Users\\Administrator\\Downloads\\IPL Matches 2008-2020.csv")

In [89]:
print(ipl)

          id        city        date player_of_match  \
0     335982   Bangalore  2008-04-18     BB McCullum
1     335983  Chandigarh  2008-04-19      MEK Hussey
2     335984       Delhi  2008-04-19     MF Maharoof
3     335985      Mumbai  2008-04-20      MV Boucher
4     335986     Kolkata  2008-04-20       DJ Hussey
..       ...         ...         ...             ...
811  1216547       Dubai  2020-09-28  AB de Villiers
812  1237177       Dubai  2020-11-05       JJ Bumrah
813  1237178   Abu Dhabi  2020-11-06   KS Williamson
814  1237180   Abu Dhabi  2020-11-08      MP Stoinis
815  1237181       Dubai  2020-11-10        TA Boult

                                          venue  neutral_venue  \
0                         M Chinnaswamy Stadium              0
1    Punjab Cricket Association Stadium, Mohali              0
2                              Feroz Shah Kotla              0
3                              Wankhede Stadium              0
4                                  Eden Gardens              0
..                                          ...            ...
811         Dubai International Cricket Stadium              0
812         Dubai International Cricket Stadium              0
813                        Sheikh Zayed Stadium              0
814                        Sheikh Zayed Stadium              0
815         Dubai International Cricket Stadium              0

                           team1                        team2  \
0    Royal Challengers Bangalore        Kolkata Knight Riders
1                Kings XI Punjab          Chennai Super Kings
2               Delhi Daredevils             Rajasthan Royals
3                 Mumbai Indians  Royal Challengers Bangalore
4          Kolkata Knight Riders              Deccan Chargers
..                           ...                          ...
811  Royal Challengers Bangalore               Mumbai Indians
812               Mumbai Indians               Delhi Capitals
813  Royal Challengers Bangalore          Sunrisers Hyderabad
814               Delhi Capitals          Sunrisers Hyderabad
815               Delhi Capitals               Mumbai Indians

                     toss_winner toss_decision                       winner  \
0    Royal Challengers Bangalore         field        Kolkata Knight Riders
1            Chennai Super Kings           bat          Chennai Super Kings
2               Rajasthan Royals           bat             Delhi Daredevils
3                 Mumbai Indians           bat  Royal Challengers Bangalore
4                Deccan Chargers           bat        Kolkata Knight Riders
..                           ...           ...                          ...
811               Mumbai Indians         field  Royal Challengers Bangalore
812               Delhi Capitals         field               Mumbai Indians
813          Sunrisers Hyderabad         field          Sunrisers Hyderabad
814               Delhi Capitals           bat               Delhi Capitals
815               Delhi Capitals           bat               Mumbai Indians

      result  result_margin eliminator method      umpire1         umpire2
0       runs          140.0          N    NaN    Asad Rauf     RE Koertzen
1       runs           33.0          N    NaN    MR Benson      SL Shastri
2    wickets            9.0          N    NaN    Aleem Dar  GA Pratapkumar
3    wickets            5.0          N    NaN     SJ Davis       DJ Harper
4    wickets            5.0          N    NaN    BF Bowden     K Hariharan
..       ...            ...        ...    ...          ...             ...
811      tie            NaN          Y    NaN  Nitin Menon      PR Reiffel
812     runs           57.0          N    NaN  CB Gaffaney     Nitin Menon
813  wickets            6.0          N    NaN   PR Reiffel          S Ravi
814     runs           17.0          N    NaN   PR Reiffel          S Ravi
815  wickets            5.0          N    NaN  CB Gaffaney     Nitin Menon

[816 rows x 17 columns]

In [90]:
ipl.head(10)
ipl.tail(30)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
786,1216522,Dubai,2020-10-17,AB de Villiers,Dubai International Cricket Stadium,0,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,bat,Royal Challengers Bangalore,wickets,7.0,N,NaN,AK Chaudhary,Nitin Menon
787,1216523,Abu Dhabi,2020-10-10,KD Karthik,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,2.0,N,NaN,UV Gandhe,CB Gaffaney
788,1216524,Dubai,2020-10-27,WP Saha,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,88.0,N,NaN,AK Chaudhary,Nitin Menon
789,1216525,Dubai,2020-10-10,V Kohli,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,37.0,N,NaN,AK Chaudhary,PR Reiffel
790,1216526,Abu Dhabi,2020-10-16,Q de Kock,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,8.0,N,NaN,CB Gaffaney,VK Sharma
791,1216527,Sharjah,2020-09-27,SV Samson,Sharjah Cricket Stadium,0,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,N,NaN,RK Illingworth,K Srinivasan
792,1216528,Dubai,2020-10-13,RA Jadeja,Dubai International Cricket Stadium,0,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,Chennai Super Kings,runs,20.0,N,NaN,AK Chaudhary,PR Reiffel
793,1216529,Abu Dhabi,2020-10-11,Q de Kock,Sheikh Zayed Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,S Ravi
794,1216530,Dubai,2020-11-01,PJ Cummins,Dubai International Cricket Stadium,0,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Kolkata Knight Riders,runs,60.0,N,NaN,Nitin Menon,PR Reiffel
795,1216531,Sharjah,2020-10-15,KL Rahul,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,Kings XI Punjab,wickets,8.0,N,NaN,KN Ananthapadmanabhan,C Shamshuddin
796,1216532,Abu Dhabi,2020-09-29,Rashid Khan,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,15.0,N,NaN,VK Sharma,S Ravi
797,1216533,Abu Dhabi,2020-10-19,JC Buttler,Sheikh Zayed Stadium,0,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
798,1216534,Dubai,2020-09-21,YS Chahal,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Royal Challengers Bangalore,runs,10.0,N,NaN,AY Dandekar,Nitin Menon
799,1216535,Dubai,2020-10-31,Ishan Kishan,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,YC Barde,PR Reiffel
800,1216536,Dubai,2020-10-29,RD Gaikwad,Dubai International Cricket Stadium,0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,N,NaN,C Shamshuddin,RK Illingworth
801,1216537,Abu Dhabi,2020-10-30,BA Stokes,Sheikh Zayed Stadium,0,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,S Ravi
802,1216538,Sharjah,2020-10-04,TA Boult,Sharjah Cricket Stadium,0,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,runs,34.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
803,1216539,Dubai,2020-09-25,PP Shaw,Dubai International Cricket Stadium,0,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Delhi Capitals,runs,44.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
804,1216540,Sharjah,2020-10-12,AB de Villiers,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,82.0,N,NaN,RK Illingworth,K Srinivasan
805,1216541,Abu Dhabi,2020-10-25,BA Stokes,Sheikh Zayed Stadium,0,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,Rajasthan Royals,wickets,8.0,N,NaN,UV Gandhe,VK Sharma
806,1216542,Dubai,2020-10-08,JM Bairstow,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,69.0,N,NaN,AK Chaudhary,Nitin Menon
807,1216543,Dubai,2020-10-14,A Nortje,Dubai International Cricket Stadium,0,Delhi Capitals,Rajasthan Royals,Delhi Capitals,bat,Delhi Capitals,runs,13.0,N,NaN,AK Chaudhary,Nitin Menon
808,1216544,Dubai,2020-10-25,RD Gaikwad,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Chennai Super Kings,wickets,8.0,N,NaN,C Shamshuddin,RK Illingworth
809,1216545,Abu Dhabi,2020-09-26,Shubman Gill,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
810,1216546,Dubai,2020-10-20,S Dhawan,Dubai International Cricket Stadium,0,Delhi Capitals,Kings XI Punjab,Delhi Capitals,bat,Kings XI Punjab,wickets,5.0,N,NaN,C Shamshuddin,RK Illingworth
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [91]:
ipl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [92]:
ipl.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64