In [4]:
from pyspark.sql import SparkSession

spark=(SparkSession.builder.appName("Spark UI Analysis").master("local[*]").getOrCreate())

In [5]:
admin_data=spark.read.csv("\\Users\\Administrator\\Downloads\\Uber\\Uber\\Admin_data.csv",header=True,inferSchema=True)
admin_data.show()

+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
|     Start_time|       End_time|    Name|    Mobile|Age|Pin-Codes|           Source|Vaccine_cus|    Destination|Miles|Est_Costing|Ride_category|        Purpose| temp|clouds|pressure|humidity| wind|accquire_vehi|free_vehi|Lattitute|Longitude|locationID|rating_cus|Riders_Name|Riders_contact|Trusted_Contact|Rating_RI|Vaccine_Ri|Payment_mode|Discount|Final_cost|   Status|
+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
| 1/1/2016 21:11| 1/1/2016 21:17|  Almire|9298608912| 21|   318886|      Fort Pierce|        YES|    Fort Pierce|  5.1|      49.98|         Bike| Meal/Entertain|42.42|   1.0| 1012.14|    0.77|11.25|           26|       17|   40.769| -73.9549|       141|         3|    Johanna|    9181026109|            YES|      3.6|       YES|        Gpay|      0%|     49.98|Cancelled|
| 1/2/2016 20:25| 1/2/2016 20:38| Frazier|8621617385| 27|   318886|      Fort Pierce|        YES|    Fort Pierce|  4.8|      47.04|         Bike|Errand/Supplies|42.43|   1.0| 1012.15|    0.76|11.32|           45|       24|  40.7267| -74.0345|        65|         4|    Charlot|    9855403124|            YES|      4.5|       YES|      Phonpe|      0%|     47.04|  Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|  Editha|9954004976| 20|   318886|      Fort Pierce|        YES|    Fort Pierce|  4.7|      46.06|         Bike|        Meeting| 42.5|   1.0| 1012.15|    0.76|11.07|          731|       36|  40.7316| -73.9873|       100|         5|      Cissy|    9328907059|            YES|      4.8|       YES|       Paytm|      0%|     46.06| Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|   Deeyn|9885727873| 34|   318886|      Fort Pierce|        YES|West Palm Beach| 63.7|     624.26|         Bike| Customer Visit|42.11|   1.0| 1012.13|    0.77|11.09|           10|        9|  40.7588| -73.9776|        80|         2|     Luelle|    9774674359|             NO|      4.9|       YES| Uber wallet|     10%|   561.834| Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|  Correy|9661756645| 28|   475241|  West Palm Beach|         NO|West Palm Beach|  4.3|      42.14|         Bike| Meal/Entertain|43.13|   1.0| 1012.14|    0.75|11.49|          814|       62|  40.7594| -73.9722|        90|         3|      Myrle|    9425892986|             NO|      5.0|        NO|        cash|      0%|     42.14| Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|   Bryan|8721880095| 50|   475241|  West Palm Beach|        YES|     Palm Beach|  7.1|      69.58|         Bike|        Meeting|42.34|   1.0| 1012.15|    0.77|11.49|          220|       46|  40.7383| -74.0403|       228|         4|     Duncan|    9611855033|            YES|      3.0|       YES| Uber wallet|     10%|    62.622|  Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|  Crissy|8579258893| 68|   265814|             Cary|        YES|           Cary|  0.8|       7.84|         Bike|        Meeting|42.36|   1.0| 1012.15|    0.77|11.46|           36|       28|  40.7223| -73.9887|         7|         5|     Carine|    9700998304|            YES|      3.6|       YES| Uber wallet|     10%|     7.056| Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|  Kendre|8900099665| 31|   265814|             Cary|        YES|    Morrisville|  8.3|      81.34|         Bike|        Meeting|42.21|   1.0| 1012.16|    0.77|11.37|         1137|      106|   40.762|  -73.979|        74|         5|   Collette|    9212537431|            YES|      3.9|       YES| Uber wallet|     10%|    73.206| Assigned|
|1/10/2016 12:17|1/10/2016 12:44|   Aymer|9918333307| 47|   386077|          Jamaica|        YES|       New York| 16.5|      161.7|         Bike| Customer Visit|42.07|   1.0| 1012.12|    0.78|11.28|          236|      103|  40.7524|  -73.996|       249|         5|     Killie|    9426616674|             NO|      4.2|       YES| Uber wallet|     10%|    145.53|  Arrived|
|1/10/2016 15:08|1/10/2016 15:51|  Gabbey|9050095157| 59|   125733|         New York|         NO|         Queens| 10.8|     105.84|         Bike|        Meeting|43.05|   1.0| 1012.12|    0.75|11.58|           47|       29|  40.7575| -73.9846|        22|         4|    Ellette|    8949025277|             NO|      4.8|        NO|        cash|      0%|    105.84| Assigned|
|1/10/2016 18:18|1/10/2016 18:53|   Cammi|7884885405| 19|   646882|         Elmhurst|        YES|       New York|  7.5|       73.5|         Bike|        Meeting|42.09|   1.0| 1012.13|    0.78|11.41|         1792|      119|  40.7256| -73.9869|       263|         4|      Amara|    9247349792|            YES|      3.6|       YES|        Gpay|      0%|      73.5| Assigned|
|1/10/2016 19:12|1/10/2016 19:32| Carlyle|8333928562| 22|   625132|          Midtown|        YES|    East Harlem|  6.2|      60.76|         Bike|        Meeting|43.28|  0.81|  990.81|    0.71|  8.3|           23|       13|  40.7591| -73.9684|        61|         3|     Ashlee|    9332965757|            YES|      4.5|       YES|        Gpay|      0%|     60.76|  Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|Zedekiah|8283676665| 74|   210314|      East Harlem|        YES|          NoMad|  6.4|      62.72|         Bike| Temporary Site|43.27|   0.8|   990.8|    0.71|  8.3|           83|       20|  40.7271| -73.9803|       229|         3|        Kim|    9267421665|            YES|      4.8|       YES|      Phonpe|      0%|     62.72| Assigned|
|1/11/2016 11:56|1/11/2016 12:03|   Sioux|8362408033| 75|   484320|Flatiron District|        YES|        Midtown|  1.6|      15.68|         Bike|Errand/Supplies|43.35|  0.82|  990.82|    0.71| 8.24|         1846|       86|  40.6463| -73.7896|       164|         5|      Jacky|    9472034451|             NO|      4.9|       YES|       Paytm|      0%|     15.68|  Arrived|
|1/11/2016 13:32|1/11/2016 13:46| Mathian|9734846586| 62|   625132|          Midtown|         NO|   Midtown East|  1.7|      16.66|         Bike| Meal/Entertain|43.07|  0.82|  990.82|    0.72| 8.28|           57|       39|  40.7564| -73.9167|       237|         5|     Mikkel|    9117822322|             NO|      5.0|        NO| Uber wallet|     10%|    14.994|  Arrived|
|1/11/2016 14:30|1/11/2016 14:43|  Maggie|7951534876| 36|   491563|     Midtown East|        YES|        Midtown|  1.9|      18.62|         Bike| Meal/Entertain|43.35|   0.8|   990.8|    0.71| 8.35|            9|        8|  40.7666| -73.9531|       142|         4|       Geri|    9738692778|            YES|      3.0|       YES|        cash|      0%|     18.62|  Arrived|
|1/12/2016 12:33|1/12/2016 12:49| Maurice|7932768286| 40|   625132|          Midtown|        YES|  Hudson Square|  1.9|      18.62|         Bike| Meal/Entertain| 43.2|   0.8|  990.79|    0.71| 8.31|            4|        2|   40.758| -73.9761|       188|         5|  Stanislas|    9564616492|            YES|      3.6|       YES| Uber wallet|     10%|    16.758| Assigned|
|1/12/2016 12:53|1/12/2016 13:09|    Timi|9323566102| 35|   509117|    Hudson Square|        YES|Lower Manhattan|  4.0|       39.2|         Bike| Meal/Entertain|43.24|   0.8|  990.79|    0.71| 8.32|           81|       37|  40.7238| -73.9821|       237|         5|       Yvon|    9985025265|            YES|      3.9|       YES| Uber wallet|     10%|     35.28|  Arrived|
|1/12/2016 14:42|1/12/2016 14:56|   Janey|8572258661| 55|   223672|  Lower Manhattan|        YES|  Hudson Square|  1.8|      17.64|         Bike|Errand/Supplies|41.95|  0.81|  991.63|    0.73|10.87|         1765|      579|  40.7531| -74.0039|       224|         5|      Jaine|    9593730071|             NO|      4.2|       YES| Uber wallet|     10%|    15.876| Assigned|
|1/12/2016 15:13|1/12/2016 15:28| Huntlee|9974250697| 32|   318886|      Fort Pierce|         NO| Hell's Kitchen|  2.4|      23.52|         Bike| Customer Visit|43.05|  0.81|  990.82|    0.72| 8.31|          766|       65|  40.7389| -74.0393|       238|         5|       Abbi|    9652057745|             NO|      4.8|        NO| Uber wallet|     10%|    21.168| Assigned|
+---------------+---------------+--------+----------+---+---------+-----------------+-----------+---------------+-----+-----------+-------------+---------------+-----+------+--------+--------+-----+-------------+---------+---------+---------+----------+----------+-----------+--------------+---------------+---------+----------+------------+--------+----------+---------+
only showing top 20 rows

In [6]:
customer=spark.read.csv("\\Users\\Administrator\\Downloads\\Uber\\Uber\\Customer_table.csv",header=True,inferSchema=True)
customer.show()

+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
|Pickup DateTime|  Drop DateTime|Driver Name|Driver Phone Number|Trip Distance|Trip ID|  Pickup Location|  Drop Location|Trip Duration|Trip Fare|Vehicle Type|   Trip Purpose|Passenger Name|Passenger Phone Number|Scheduled|Passenger Rating|Driver Rated|Payment Method|Payment Discount|Net Fare|Trip Status|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
| 1/1/2016 21:11| 1/1/2016 21:17|     Almire|         9298608912|           21| 318886|      Fort Pierce|    Fort Pierce|          5.1|    49.98|        Bike| Meal/Entertain|       Johanna|            9181026109|      YES|             3.6|         YES|          Gpay|              0%|   49.98|  Cancelled|
| 1/2/2016 20:25| 1/2/2016 20:38|    Frazier|         8621617385|           27| 318886|      Fort Pierce|    Fort Pierce|          4.8|    47.04|        Bike|Errand/Supplies|       Charlot|            9855403124|      YES|             4.5|         YES|        Phonpe|              0%|   47.04|    Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|     Editha|         9954004976|           20| 318886|      Fort Pierce|    Fort Pierce|          4.7|    46.06|        Bike|        Meeting|         Cissy|            9328907059|      YES|             4.8|         YES|         Paytm|              0%|   46.06|   Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|      Deeyn|         9885727873|           34| 318886|      Fort Pierce|West Palm Beach|         63.7|   624.26|        Bike| Customer Visit|        Luelle|            9774674359|       NO|             4.9|         YES|   Uber wallet|             10%| 561.834|   Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|     Correy|         9661756645|           28| 475241|  West Palm Beach|West Palm Beach|          4.3|    42.14|        Bike| Meal/Entertain|         Myrle|            9425892986|       NO|             5.0|          NO|          cash|              0%|   42.14|   Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|      Bryan|         8721880095|           50| 475241|  West Palm Beach|     Palm Beach|          7.1|    69.58|        Bike|        Meeting|        Duncan|            9611855033|      YES|             3.0|         YES|   Uber wallet|             10%|  76.538|    Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|     Crissy|         8579258893|           68| 265814|             Cary|           Cary|          0.8|     7.84|        Bike|        Meeting|        Carine|            9700998304|      YES|             3.6|         YES|   Uber wallet|             10%|   8.624|   Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|     Kendre|         8900099665|           31| 265814|             Cary|    Morrisville|          8.3|    81.34|        Bike|        Meeting|      Collette|            9212537431|      YES|             3.9|         YES|   Uber wallet|             10%|  89.474|   Assigned|
|1/10/2016 12:17|1/10/2016 12:44|      Aymer|         9918333307|           47| 386077|          Jamaica|       New York|         16.5|    161.7|        Bike| Customer Visit|        Killie|            9426616674|       NO|             4.2|         YES|   Uber wallet|             10%|  177.87|    Arrived|
|1/10/2016 15:08|1/10/2016 15:51|     Gabbey|         9050095157|           59| 125733|         New York|         Queens|         10.8|   105.84|        Bike|        Meeting|       Ellette|            8949025277|       NO|             4.8|          NO|          cash|              0%|  105.84|   Assigned|
|1/10/2016 18:18|1/10/2016 18:53|      Cammi|         7884885405|           19| 646882|         Elmhurst|       New York|          7.5|     73.5|        Bike|        Meeting|         Amara|            9247349792|      YES|             3.6|         YES|          Gpay|              0%|    73.5|   Assigned|
|1/10/2016 19:12|1/10/2016 19:32|    Carlyle|         8333928562|           22| 625132|          Midtown|    East Harlem|          6.2|    60.76|        Bike|        Meeting|        Ashlee|            9332965757|      YES|             4.5|         YES|          Gpay|              0%|   60.76|    Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|   Zedekiah|         8283676665|           74| 210314|      East Harlem|          NoMad|          6.4|    62.72|        Bike| Temporary Site|           Kim|            9267421665|      YES|             4.8|         YES|        Phonpe|              0%|   62.72|   Assigned|
|1/11/2016 11:56|1/11/2016 12:03|      Sioux|         8362408033|           75| 484320|Flatiron District|        Midtown|          1.6|    15.68|        Bike|Errand/Supplies|         Jacky|            9472034451|       NO|             4.9|         YES|         Paytm|              0%|   15.68|    Arrived|
|1/11/2016 13:32|1/11/2016 13:46|    Mathian|         9734846586|           62| 625132|          Midtown|   Midtown East|          1.7|    16.66|        Bike| Meal/Entertain|        Mikkel|            9117822322|       NO|             5.0|          NO|   Uber wallet|             10%|  14.994|    Arrived|
|1/11/2016 14:30|1/11/2016 14:43|     Maggie|         7951534876|           36| 491563|     Midtown East|        Midtown|          1.9|    18.62|        Bike| Meal/Entertain|          Geri|            9738692778|      YES|             3.0|         YES|          cash|              0%|   18.62|    Arrived|
|1/12/2016 12:33|1/12/2016 12:49|    Maurice|         7932768286|           40| 625132|          Midtown|  Hudson Square|          1.9|    18.62|        Bike| Meal/Entertain|     Stanislas|            9564616492|      YES|             3.6|         YES|   Uber wallet|             10%|  20.482|   Assigned|
|1/12/2016 12:53|1/12/2016 13:09|       Timi|         9323566102|           35| 509117|    Hudson Square|Lower Manhattan|          4.0|     39.2|        Bike| Meal/Entertain|          Yvon|            9985025265|      YES|             3.9|         YES|   Uber wallet|             10%|   43.12|    Arrived|
|1/12/2016 14:42|1/12/2016 14:56|      Janey|         8572258661|           55| 223672|  Lower Manhattan|  Hudson Square|          1.8|    17.64|        Bike|Errand/Supplies|         Jaine|            9593730071|       NO|             4.2|         YES|   Uber wallet|             10%|  19.404|   Assigned|
|1/12/2016 15:13|1/12/2016 15:28|    Huntlee|         9974250697|           32| 318886|      Fort Pierce| Hell's Kitchen|          2.4|    23.52|        Bike| Customer Visit|          Abbi|            9652057745|       NO|             4.8|          NO|   Uber wallet|             10%|  25.872|   Assigned|
+---------------+---------------+-----------+-------------------+-------------+-------+-----------------+---------------+-------------+---------+------------+---------------+--------------+----------------------+---------+----------------+------------+--------------+----------------+--------+-----------+
only showing top 20 rows

In [8]:
riders_data=spark.read.csv("\\Users\\Administrator\\Downloads\\Uber\\Uber\\Riders_data.csv",inferSchema=True)
riders_data.show()

+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+----+----+----+----+-----------+----+-------+---------+
|            _c0|            _c1|     _c2|       _c3|_c4|   _c5|              _c6|            _c7| _c8|   _c9|_c10|     _c11|      _c12|_c13|_c14|_c15|_c16|       _c17|_c18|   _c19|     _c20|
+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+----+----+----+----+-----------+----+-------+---------+
| 1/1/2016 21:11| 1/1/2016 21:17|  Almire|9298608912| 21|318886|      Fort Pierce|    Fort Pierce| 5.1| 49.98|Bike|  Johanna|9181026109|   3| 141| YES| YES|       Gpay|  0%|  49.98|Cancelled|
| 1/2/2016 20:25| 1/2/2016 20:38| Frazier|8621617385| 27|318886|      Fort Pierce|    Fort Pierce| 4.8| 47.04|Bike|  Charlot|9855403124|   4|  65| YES| YES|     Phonpe|  0%|  47.04|  Arrived|
| 1/5/2016 17:31| 1/5/2016 17:45|  Editha|9954004976| 20|318886|      Fort Pierce|    Fort Pierce| 4.7| 46.06|Bike|    Cissy|9328907059|   5| 100| YES| YES|      Paytm|  0%|  46.06| Assigned|
| 1/6/2016 14:42| 1/6/2016 15:49|   Deeyn|9885727873| 34|318886|      Fort Pierce|West Palm Beach|63.7|624.26|Bike|   Luelle|9774674359|   2|  80|  NO| YES|Uber wallet| 10%|561.834| Assigned|
| 1/6/2016 17:15| 1/6/2016 17:19|  Correy|9661756645| 28|475241|  West Palm Beach|West Palm Beach| 4.3| 42.14|Bike|    Myrle|9425892986|   3|  90|  NO|  NO|       cash|  0%|  42.14| Assigned|
| 1/6/2016 17:30| 1/6/2016 17:35|   Bryan|8721880095| 50|475241|  West Palm Beach|     Palm Beach| 7.1| 69.58|Bike|   Duncan|9611855033|   4| 228| YES| YES|Uber wallet| 10%| 62.622|  Arrived|
| 1/7/2016 13:27| 1/7/2016 13:33|  Crissy|8579258893| 68|265814|             Cary|           Cary| 0.8|  7.84|Bike|   Carine|9700998304|   5|   7| YES| YES|Uber wallet| 10%|  7.056| Assigned|
| 1/10/2016 8:05| 1/10/2016 8:25|  Kendre|8900099665| 31|265814|             Cary|    Morrisville| 8.3| 81.34|Bike| Collette|9212537431|   5|  74| YES| YES|Uber wallet| 10%| 73.206| Assigned|
|1/10/2016 12:17|1/10/2016 12:44|   Aymer|9918333307| 47|386077|          Jamaica|       New York|16.5| 161.7|Bike|   Killie|9426616674|   5| 249|  NO| YES|Uber wallet| 10%| 145.53|  Arrived|
|1/10/2016 15:08|1/10/2016 15:51|  Gabbey|9050095157| 59|125733|         New York|         Queens|10.8|105.84|Bike|  Ellette|8949025277|   4|  22|  NO|  NO|       cash|  0%| 105.84| Assigned|
|1/10/2016 18:18|1/10/2016 18:53|   Cammi|7884885405| 19|646882|         Elmhurst|       New York| 7.5|  73.5|Bike|    Amara|9247349792|   4| 263| YES| YES|       Gpay|  0%|   73.5| Assigned|
|1/10/2016 19:12|1/10/2016 19:32| Carlyle|8333928562| 22|625132|          Midtown|    East Harlem| 6.2| 60.76|Bike|   Ashlee|9332965757|   3|  61| YES| YES|       Gpay|  0%|  60.76|  Arrived|
| 1/11/2016 8:55| 1/11/2016 9:21|Zedekiah|8283676665| 74|210314|      East Harlem|          NoMad| 6.4| 62.72|Bike|      Kim|9267421665|   3| 229| YES| YES|     Phonpe|  0%|  62.72| Assigned|
|1/11/2016 11:56|1/11/2016 12:03|   Sioux|8362408033| 75|484320|Flatiron District|        Midtown| 1.6| 15.68|Bike|    Jacky|9472034451|   5| 164|  NO| YES|      Paytm|  0%|  15.68|  Arrived|
|1/11/2016 13:32|1/11/2016 13:46| Mathian|9734846586| 62|625132|          Midtown|   Midtown East| 1.7| 16.66|Bike|   Mikkel|9117822322|   5| 237|  NO|  NO|Uber wallet| 10%| 14.994|  Arrived|
|1/11/2016 14:30|1/11/2016 14:43|  Maggie|7951534876| 36|491563|     Midtown East|        Midtown| 1.9| 18.62|Bike|     Geri|9738692778|   4| 142| YES| YES|       cash|  0%|  18.62|  Arrived|
|1/12/2016 12:33|1/12/2016 12:49| Maurice|7932768286| 40|625132|          Midtown|  Hudson Square| 1.9| 18.62|Bike|Stanislas|9564616492|   5| 188| YES| YES|Uber wallet| 10%| 16.758| Assigned|
|1/12/2016 12:53|1/12/2016 13:09|    Timi|9323566102| 35|509117|    Hudson Square|Lower Manhattan| 4.0|  39.2|Bike|     Yvon|9985025265|   5| 237| YES| YES|Uber wallet| 10%|  35.28|  Arrived|
|1/12/2016 14:42|1/12/2016 14:56|   Janey|8572258661| 55|223672|  Lower Manhattan|  Hudson Square| 1.8| 17.64|Bike|    Jaine|9593730071|   5| 224|  NO| YES|Uber wallet| 10%| 15.876| Assigned|
|1/12/2016 15:13|1/12/2016 15:28| Huntlee|9974250697| 32|318886|      Fort Pierce| Hell's Kitchen| 2.4| 23.52|Bike|     Abbi|9652057745|   5| 238|  NO|  NO|Uber wallet| 10%| 21.168| Assigned|
+---------------+---------------+--------+----------+---+------+-----------------+---------------+----+------+----+---------+----------+----+----+----+----+-----------+----+-------+---------+
only showing top 20 rows

In [9]:
admin_data.printSchema()

root
 |-- Start_time: string (nullable = true)
 |-- End_time: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Mobile: long (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Pin-Codes: integer (nullable = true)
 |-- Source: string (nullable = true)
 |-- Vaccine_cus: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Miles: double (nullable = true)
 |-- Est_Costing: double (nullable = true)
 |-- Ride_category: string (nullable = true)
 |-- Purpose: string (nullable = true)
 |-- temp: double (nullable = true)
 |-- clouds: double (nullable = true)
 |-- pressure: double (nullable = true)
 |-- humidity: double (nullable = true)
 |-- wind: double (nullable = true)
 |-- accquire_vehi: integer (nullable = true)
 |-- free_vehi: string (nullable = true)
 |-- Lattitute: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- locationID: integer (nullable = true)
 |-- rating_cus: integer (nullable = true)
 |-- Riders_Name: string (nullable = true)
 |-- Riders_contact: long (nullable = true)
 |-- Trusted_Contact: string (nullable = true)
 |-- Rating_RI: double (nullable = true)
 |-- Vaccine_Ri: string (nullable = true)
 |-- Payment_mode: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Final_cost: double (nullable = true)
 |-- Status: string (nullable = true)

In [10]:
customer.printSchema()

root
 |-- Pickup DateTime: string (nullable = true)
 |-- Drop DateTime: string (nullable = true)
 |-- Driver Name: string (nullable = true)
 |-- Driver Phone Number: long (nullable = true)
 |-- Trip Distance: integer (nullable = true)
 |-- Trip ID: integer (nullable = true)
 |-- Pickup Location: string (nullable = true)
 |-- Drop Location: string (nullable = true)
 |-- Trip Duration: double (nullable = true)
 |-- Trip Fare: double (nullable = true)
 |-- Vehicle Type: string (nullable = true)
 |-- Trip Purpose: string (nullable = true)
 |-- Passenger Name: string (nullable = true)
 |-- Passenger Phone Number: long (nullable = true)
 |-- Scheduled: string (nullable = true)
 |-- Passenger Rating: double (nullable = true)
 |-- Driver Rated: string (nullable = true)
 |-- Payment Method: string (nullable = true)
 |-- Payment Discount: string (nullable = true)
 |-- Net Fare: double (nullable = true)
 |-- Trip Status: string (nullable = true)

In [11]:
riders_data.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: long (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: integer (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: double (nullable = true)
 |-- _c9: double (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: long (nullable = true)
 |-- _c13: integer (nullable = true)
 |-- _c14: integer (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: double (nullable = true)
 |-- _c20: string (nullable = true)

# Q1) How many number of customers take trip from same location?

In [17]:
from pyspark.sql.functions import countDistinct

loc_customers=customer.groupBy("Pickup Location").agg(countDistinct("Passenger Phone Number").alias("customers_number")).orderBy("customers_number",ascending=False)
loc_customers.show()

+-----------------+----------------+
|  Pickup Location|customers_number|
+-----------------+----------------+
|      Fort Pierce|              90|
|          Midtown|              57|
|  West Palm Beach|              48|
|             Cary|              47|
|  Lower Manhattan|              26|
|     Midtown East|              26|
|Flatiron District|              26|
|      East Harlem|              26|
|    Hudson Square|              26|
|          Jamaica|              26|
|         New York|              26|
|         Elmhurst|              26|
+-----------------+----------------+

# Q2) What is the priority for each ride category from each location?

# Q3) What are the longest locations of customer travelled?

In [24]:
#Shows top 5 cities
longest_trips=customer.select("Pickup Location","Drop Location","Trip Distance").orderBy("Trip Distance",ascending=False).limit(5)
longest_trips.show()

+---------------+-------------+-------------+
|Pickup Location|Drop Location|Trip Distance|
+---------------+-------------+-------------+
|    East Harlem|  Whitebridge|           80|
|   Midtown East|       Durham|           80|
|    Fort Pierce|         Cary|           80|
|       Elmhurst|         Cary|           80|
|           Cary|  Whitebridge|           80|
+---------------+-------------+-------------+

# Q4) Drivers who completed ride with non-vaccinated customers

In [14]:
non_vaccinated = admin_data.filter(admin_data.Vaccine_cus == "NO").select("Name","Mobile","Riders_Name")
non_vaccinated.show()

+-------+----------+-----------+
|   Name|    Mobile|Riders_Name|
+-------+----------+-----------+
| Correy|9661756645|      Myrle|
| Gabbey|9050095157|    Ellette|
|Mathian|9734846586|     Mikkel|
|Huntlee|9974250697|       Abbi|
|   Clim|8859680135|       Dora|
|Geordie|8410911653|     Pattin|
| Horten|8215695084|        Kip|
|    Ray|8407563494|     Haskel|
|  Boyce|9183218576|      Cindi|
|   Berk|8875035370|    Yasmeen|
| Aubert|9524013920|       Burk|
|Stavros|8197008138|      Natty|
| Norene|9202013524|       Kain|
|  Stace|7867224866|        Pen|
| Stefan|9194958211|      Sandy|
|Cassius|9309163124|   Kimberly|
| Crysta|9003775113|        Tim|
|  Chadd|9451864545|    Carolus|
|    Val|8472948148|      Marta|
|  Glori|8563960701|    Romonda|
+-------+----------+-----------+
only showing top 20 rows

In [15]:
non_vaccinated.count()

100

# Q5) How many vaccinated customers have travelled

In [12]:
vaccine_cus = admin_data.filter(admin_data.Vaccine_cus == "YES").select("Name","mobile")
vaccine_cus.show()

+--------+----------+
|    Name|    mobile|
+--------+----------+
|  Almire|9298608912|
| Frazier|8621617385|
|  Editha|9954004976|
|   Deeyn|9885727873|
|   Bryan|8721880095|
|  Crissy|8579258893|
|  Kendre|8900099665|
|   Aymer|9918333307|
|   Cammi|7884885405|
| Carlyle|8333928562|
|Zedekiah|8283676665|
|   Sioux|8362408033|
|  Maggie|7951534876|
| Maurice|7932768286|
|    Timi|9323566102|
|   Janey|8572258661|
|  Evania|9370194252|
|   Mayne|9557445925|
|    Iain|9313837934|
|   Moore|8692496691|
+--------+----------+
only showing top 20 rows

In [13]:
vaccine_cus.count()

400

# Q6) Customers who completed ride with non-vaccinated drivers

# Q7) Which customer completed highest number of rides

In [19]:
from pyspark.sql.functions import count

high_rides = customer.groupBy("Passenger name").agg(count("Passenger Name").alias("Trip count")).orderBy("Trip Count",ascending=False)
high_rides.show(5)

+--------------+----------+
|Passenger name|Trip count|
+--------------+----------+
|          Cher|        10|
|        Damien|         5|
|        Mikkel|         5|
|      Sergeant|         5|
|       Saundra|         5|
+--------------+----------+
only showing top 5 rows

# Q8) Which customer completed highest number of rides

In [18]:
from pyspark.sql.functions import count,col

highest_rides = customer.groupBy("Driver Name").agg(count("*").alias("highest_ride")).orderBy(col("highest_ride").desc())
highest_rides.show(1)

+-----------+------------+
|Driver Name|highest_ride|
+-----------+------------+
|    Mathian|           2|
+-----------+------------+
only showing top 1 row