Q) How to join two tables using dataframe

In [1]:
import pandas as pd

In [2]:
student_df=pd.DataFrame({
    'Student_id':["S1","S2","S3"],
    'Student_name':["Irene","Madhav","Gouri"]
})

In [3]:
print(student_df)

  Student_id Student_name
0         S1        Irene
1         S2       Madhav
2         S3        Gouri

In [6]:
book_df=pd.DataFrame({
    'Book_id':["B1","B2","B3","B4"],
    'Book_name':["Atomic Habits","The Alchemist","Ignited Minds","You are born to Blossom"],
    'Student_id':["S3","S4","S5","S6"]
})

In [7]:
print(book_df)

  Book_id                Book_name Student_id
0      B1            Atomic Habits         S3
1      B2            The Alchemist         S4
2      B3            Ignited Minds         S5
3      B4  You are born to Blossom         S6

In [10]:
#Inner Join
inner_join = pd.merge(student_df,book_df,how='inner',on='Student_id')
print(inner_join)

  Student_id Student_name Book_id      Book_name
0         S3        Gouri      B1  Atomic Habits

In [11]:
#Left Join
left_join = pd.merge(student_df,book_df,how='left',on='Student_id')
print(left_join)

  Student_id Student_name Book_id      Book_name
0         S1        Irene     NaN            NaN
1         S2       Madhav     NaN            NaN
2         S3        Gouri      B1  Atomic Habits

In [12]:
#Right Join
right_join = pd.merge(student_df,book_df,how='right',on='Student_id')
print(right_join)

  Student_id Student_name Book_id                Book_name
0         S3        Gouri      B1            Atomic Habits
1         S4          NaN      B2            The Alchemist
2         S5          NaN      B3            Ignited Minds
3         S6          NaN      B4  You are born to Blossom

In [13]:
#Outer Join
outer_join = pd.merge(student_df,book_df,how='outer',on='Student_id')
print(outer_join)

  Student_id Student_name Book_id                Book_name
0         S1        Irene     NaN                      NaN
1         S2       Madhav     NaN                      NaN
2         S3        Gouri      B1            Atomic Habits
3         S4          NaN      B2            The Alchemist
4         S5          NaN      B3            Ignited Minds
5         S6          NaN      B4  You are born to Blossom